{% extends 'base.html' %}
{% block title %}А всё уже, всё!{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">Ссылка недействительна</h1>
        <p>
          Время действия короткой ссылки закончилось, пожалуйста,
          перейдите на главную страницу и создайте новую короткую ссылку
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/500.png') }}" alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %}